{:paths ["src"]
 :deps  {com.stuartsierra/component {:mvn/version "1.0.0"},
         org.clojure/java.classpath {:mvn/version "1.0.0"},
         hawk/hawk                  {:mvn/version "0.2.11"},
         garden/garden              {:mvn/version "1.3.10"}}}
